    <p>
        Chat window!
      </p>
      <div class="input-group" id="messageBar">
          <input type="text" name="message" id="message-form" class="form-control" placeholder="Message..." aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button id="sendBtn" class="btn btn-success">
              <!-- <i class="fa fa-paper-plane" aria-hidden="true">
                ::Before
              </i> -->
              <i class="material-icons">send</i>
            </button>
            <button class="btn btn-info" id="send-location">Send location</button>
          </div>
        </div>

