input {
    width : 70%;
}

.container{
  width: 50%;
  margin: 20px auto;
  padding-top: 70px;
}
form{
  text-align: left
}
.login{
    border-style: groove;
    max-width: 500px;
    padding: 20px;
    margin: auto;
    align-items: center;
    box-shadow: 7px 7px 10px 0px #4e618a;
}