.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  input {
      width : 70%;
  }

  .container{
    width: 50%;
    margin: 20px auto;
    padding-top: 70px;
  }
  form{
    text-align: left
  }